<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="actor" class="com.stackroute.domain.Actor">
        <constructor-arg name="name" value="Manish"></constructor-arg>
        <constructor-arg name="gender" value="Male"></constructor-arg>
        <constructor-arg name="age" value="22"></constructor-arg>
    </bean>
    <bean id="actor1" class="com.stackroute.domain.Actor">
        <constructor-arg type="java.lang.String" value="Rakesh"></constructor-arg>
        <constructor-arg type="java.lang.String" value="Male"></constructor-arg>
        <constructor-arg type="int" value="22"></constructor-arg>
    </bean>
    <bean id="actor2" class="com.stackroute.domain.Actor">
        <constructor-arg index="0" value="Vijay"></constructor-arg>
        <constructor-arg index="1" value="Male"></constructor-arg>
        <constructor-arg index="2" value="22"></constructor-arg>
    </bean>

    <bean name="movieA" class="com.stackroute.domain.Movie" autowire="byName">
    </bean>

    <bean name="movieB" class="com.stackroute.domain.Movie">
        <constructor-arg name="actor" ref="actor"></constructor-arg>
        <constructor-arg name="actor1" ref="actor1"></constructor-arg>
        <constructor-arg name="actor2" ref="actor2"></constructor-arg>
    </bean>
    <bean id="demobean" class="com.stackroute.demo.BeanLifecycleDemoBean" init-method="customInit"
          destroy-method="customDestroy">
    </bean>

    <bean id="demobean1" class="com.stackroute.demo.BeanPostProcessorDemoBean">
    </bean>

</beans>